<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:installLocation="preferExternal" package="kgm.lib">&quot;\10
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application android:label="Terror in Milltown" android:icon="@drawable/ic_launcher" android:debuggable="false" android:allowBackup="true">&quot;\10
        <activity android:name="kgm.NA.Engine" android:configChanges="fontScale|orientation|keyboardHidden|keyboard|locale|mnc|mcc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
